{{define "editar"}}
{{template "header"}}
<div class="card">

    <div class="card-header">
      Comida
    </div>
      <form method="post" action="/actualizar">
            <input type="hidden" class="form-control" name="id" value={{.Id}} id="id" placeholder="">
        <div class="form-group">
          <label for="">Nombre:</label>
          <input type="text"
            class="form-control" name="nombre" value={{.Nombre}} id="nombre" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Introduzca el nombre de un platillo EJ: Hamburguesa</small>
        </div>
        <div class="form-group">
          <label for="">Descripcion:</label>
          <input type="text"
            class="form-control" name="descripcion" value={{.Descripcion}} id="descripcion" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Introduzca la descripcion de la comida EJ: Un emparedado con una carne de res entre ellas</small>
        </div>
        <div class="form-group">
          <label for="">Precio $:</label>
          <input type="text"
            class="form-control" name="precio" value={{.Precio}} id="precio" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Introduzca el precio del platillo EJ: 90</small>
        </div>
        <button type="submit" class="btn btn-success">Modificar nueva comida</button>
        <a class="btn btn-danger" href="/" role="button">Cancelar</a>
      </form>
    <div class="card-body">
      
    </div>
  </div>
{{ template "footer"}}
{{ end}}